.encompass {
  max-width: 60vw;
  max-height: 100vh;
  background-color: white;
  padding: 4rem;
  border-radius: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  border: 0.5rem solid purple;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  color: white;
}

.buttons {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Small screens */
@media screen and (max-width: 600px) {
  .form {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }
}

/* Medium screens */
@media screen and (min-width: 601px) and (max-width: 900px) {
  .form {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
  }
}

/* Large screens */
@media screen and (min-width: 901px) {
  .form {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
}

h4{
  color: white;
  text-align: center;
  font-size: larger;
  color: plum;
}